In [1]:
import pandas as pd
import sqlalchemy as sqlA
import os
import datetime as dt
import numpy as np
import sys

In [2]:
dir_path = "./Drive/Data Files [Detailed] "
all_file_path = []
all_file_names = []
all_file_year = []
all_file_month = []
for i in range(1,6):
    paths = [x for x in os.walk(dir_path + str(i))]
    root, dir, files = paths[0]
    for j in files:
        if j.__contains__("_calendar"):
            all_file_path.append(root + "/" + j)
            all_file_names.append(j)
            all_file_year.append(int(j.split("_")[2]))
            all_file_month.append(int(j.split("_")[3]))

In [3]:
path_df = pd.DataFrame(all_file_path,columns=["path"])
names_df = pd.DataFrame(all_file_names,columns=["name"])
year_df = pd.DataFrame(all_file_year,columns=["year"])
month_df = pd.DataFrame(all_file_month,columns=["month"])
file_paths_df = pd.concat([path_df,names_df,year_df,month_df],axis=1)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_06_calendar.csv.gz,2018,6
1,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2016_01_calendar.csv.gz,2016,1
2,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2017_04_calendar.csv.gz,2017,4
3,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_09_calendar.csv.gz,2018,9
4,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2019_03_calendar.csv.gz,2019,3

In [4]:
file_paths_df = file_paths_df.sort_values(by=["year","month"],ascending=False)
file_paths_df = file_paths_df.loc[file_paths_df["year"]>2018]
file_paths_df = file_paths_df.loc[file_paths_df["year"]<2021]
file_paths_df.reset_index(drop=True,inplace=True)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 4/los_angeles_20...,los_angeles_2020_12_calendar.csv.gz,2020,12
1,./Drive/Data Files [Detailed] 4/los_angeles_20...,los_angeles_2020_11_calendar.csv.gz,2020,11
2,./Drive/Data Files [Detailed] 3/los_angeles_20...,los_angeles_2020_10_calendar.csv.gz,2020,10
3,./Drive/Data Files [Detailed] 3/los_angeles_20...,los_angeles_2020_09_calendar.csv.gz,2020,9
4,./Drive/Data Files [Detailed] 3/los_angeles_20...,los_angeles_2020_08_calendar.csv.gz,2020,8

In [5]:
file_paths_df.shape

(24, 4)

In [6]:
num_files = file_paths_df.shape[0]

In [7]:
engine = sqlA.create_engine('postgresql+psycopg2://sarat:admin@127.0.0.1:5432/sarat',future=True)

In [8]:
def fillValues(x,y):
    if y == np.nan:
        return x
    return y

In [9]:
def booleanification(x):
    if x == 't':
        return True
    return False

In [10]:
def removeDollarsign(x):
    if str(x) == 'nan':
        return np.nan
    elif type(x) == float:
        return x
    elif type(x) == str:
        return float(x.replace(",","").split("$")[1])
    return float(x)

In [11]:
date_before = pd.Timestamp(2017,12,31)
shape = 0
for i in range(0,num_files):
    loop_start_time  = dt.datetime.now()
    temp_df = pd.read_csv(file_paths_df.iloc[i,0])
    print(file_paths_df.iloc[i,2],file_paths_df.iloc[i,3])
    print(i,"Reading Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
    temp_df = temp_df[["listing_id","date","available","price"]]
    temp_df = temp_df.loc[~(temp_df["price"].isna() & temp_df["available"].isna())]
    temp_df = temp_df.loc[temp_df["date"]<="2020-12-31"]
    temp_df["year"] = file_paths_df.iloc[i,2]
    temp_df["month"] = file_paths_df.iloc[i,3]
    # temp_df["available"] = temp_df.apply(lambda x: booleanification(x["available"]),axis=1)
    # temp_df["price"] = temp_df.apply(lambda x: removeDollarsign(x["price"]),axis = 1)
    temp_df.reset_index(inplace=True,drop=True)
    print(i,"Cleaning Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
    temp_df.to_csv("calender_temp_file.csv",index = False)
    print(i,"Writing Finished to csv",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
    if i == 0:
        temp_df.iloc[0:10].to_sql(name="airbnb_calendar",con=engine,index=False,schema="DSO574",if_exists="replace")
        temp_df.iloc[0:10].to_sql(name="airbnb_calendar_temp",con=engine,index=False,schema="DSO574",if_exists="replace")
        temp_df.iloc[0:10].to_sql(name="airbnb_calendar_temp_storage",con=engine,index=False,schema="DSO574",if_exists="replace")
        with engine.connect() as connection:
            connection.execute(sqlA.text('''truncate table "DSO574".airbnb_calendar;'''))
            connection.commit()
    with engine.connect() as connection:
        connection.execute(sqlA.text('''truncate table "DSO574".airbnb_calendar_temp;'''))
        connection.commit()
        connection.execute(sqlA.text('''truncate table "DSO574".airbnb_calendar_temp_storage;'''))
        connection.commit()
        connection.execute(sqlA.text('''
        COPY "DSO574".airbnb_calendar_temp
        FROM '/Users/sarat/Desktop/Spring 23/DSO 574 Big Data/Assignments/Airbnb/calender_temp_file.csv' 
        DELIMITER ',' 
        CSV HEADER;'''))
        connection.commit()
    print(i,"Writing Finished to temp table",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
    with engine.connect() as connection:
        connection.execute(sqlA.text('''
            insert into "DSO574".airbnb_calendar_temp_storage
            with
            A AS (select * from "DSO574".airbnb_calendar),
            B AS (select * from "DSO574".airbnb_calendar_temp),
            C AS (select
                case when A.listing_id is null then B.listing_id else A.listing_id end as listing_id,
                case when A.date is null then B.date else A.date end as date,
                case when A.available is null then B.available else A.available end as available,
                case when A.price is null then B.price else A.price end as price,
                case when A.year is null then B.year else A.year end as year,
                case when A.month is null then B.month else A.month end as month
            from A 
            full join B on A.listing_id = B.listing_id and A.date = B.date
            )
            select * from C;
        '''))
        shape = connection.commit()
    print(i,"Writing Finished to storage table",shape,"duration: ", dt.datetime.now() - loop_start_time)
    with engine.connect() as connection:
            connection.execute(sqlA.text('''truncate table "DSO574".airbnb_calendar;'''))
            connection.commit()
            connection.execute(sqlA.text('''
            insert into "DSO574".airbnb_calendar
            select * from "DSO574".airbnb_calendar_temp_storage;
            '''))
            connection.commit()
    print(i,"Writing Finished to DB",shape,"duration: ", dt.datetime.now() - loop_start_time)

2020 12
0 Reading Finished (11626182, 7) duration:  0:00:05.090852
0 Cleaning Finished (513116, 6) duration:  0:00:07.309651
0 Writing Finished to csv (513116, 6) duration:  0:00:08.150748
0 Writing Finished to temp table (513116, 6) duration:  0:00:10.080367
0 Writing Finished to storage table None duration:  0:00:10.887802
0 Writing Finished to DB None duration:  0:00:11.607442
2020 11
1 Reading Finished (11486908, 7) duration:  0:00:04.435857
1 Cleaning Finished (1849562, 6) duration:  0:00:06.524438
1 Writing Finished to csv (1849562, 6) duration:  0:00:09.522356
1 Writing Finished to temp table (1849562, 6) duration:  0:00:11.162915
1 Writing Finished to storage table None duration:  0:00:21.582687
1 Writing Finished to DB None duration:  0:00:23.515179
2020 10
2 Reading Finished (11143852, 7) duration:  0:00:04.187576
2 Cleaning Finished (2330456, 6) duration:  0:00:06.185465
2 Writing Finished to csv (2330456, 6) duration:  0:00:09.722154
2 Writing Finished to temp table (2330456, 6) duration:  0:00:11.579256
2 Writing Finished to storage table None duration:  0:00:25.226063
2 Writing Finished to DB None duration:  0:00:27.305610
2020 9
3 Reading Finished (11510271, 7) duration:  0:00:04.378122
3 Cleaning Finished (3559162, 6) duration:  0:00:06.499938
3 Writing Finished to csv (3559162, 6) duration:  0:00:11.821458
3 Writing Finished to temp table (3559162, 6) duration:  0:00:14.734108
3 Writing Finished to storage table None duration:  0:00:37.207537
3 Writing Finished to DB None duration:  0:00:41.621094
2020 8
4 Reading Finished (12072921, 7) duration:  0:00:04.806092
4 Cleaning Finished (4405662, 6) duration:  0:00:07.097842
4 Writing Finished to csv (4405662, 6) duration:  0:00:13.691660
4 Writing Finished to temp table (4405662, 6) duration:  0:00:19.164950
4 Writing Finished to storage table None duration:  0:00:48.369773
4 Writing Finished to DB None duration:  0:00:54.701755
2020 7
5 Reading Finished (12737825, 7) duration:  0:00:05.322338
5 Cleaning Finished (6066906, 6) duration:  0:00:07.862628
5 Writing Finished to csv (6066906, 6) duration:  0:00:16.972837
5 Writing Finished to temp table (6066906, 6) duration:  0:00:22.237944
5 Writing Finished to storage table None duration:  0:00:36.208258
5 Writing Finished to DB None duration:  0:00:44.681482
2020 6
6 Reading Finished (13051491, 7) duration:  0:00:05.201321
6 Cleaning Finished (7298690, 6) duration:  0:00:07.684572
6 Writing Finished to csv (7298690, 6) duration:  0:00:18.767867
6 Writing Finished to temp table (7298690, 6) duration:  0:00:24.876336
6 Writing Finished to storage table None duration:  0:01:40.432563
6 Writing Finished to DB None duration:  0:01:50.931977
2020 5
7 Reading Finished (13523226, 7) duration:  0:00:05.438985
7 Cleaning Finished (8795071, 6) duration:  0:00:08.082627
7 Writing Finished to csv (8795071, 6) duration:  0:00:21.245043
7 Writing Finished to temp table (8795071, 6) duration:  0:00:28.441916
7 Writing Finished to storage table None duration:  0:01:32.032270
7 Writing Finished to DB None duration:  0:01:43.714555
2020 4
8 Reading Finished (13771203, 7) duration:  0:00:05.510529
8 Cleaning Finished (9867795, 6) duration:  0:00:08.160727
8 Writing Finished to csv (9867795, 6) duration:  0:00:22.923180
8 Writing Finished to temp table (9867795, 6) duration:  0:00:29.665703
8 Writing Finished to storage table None duration:  0:01:41.798730
8 Writing Finished to DB None duration:  0:01:54.418398
2020 3
9 Reading Finished (14045565, 7) duration:  0:00:05.967627
9 Cleaning Finished (11274933, 6) duration:  0:00:08.744584
9 Writing Finished to csv (11274933, 6) duration:  0:00:25.627434
9 Writing Finished to temp table (11274933, 6) duration:  0:00:35.812163
9 Writing Finished to storage table None duration:  0:01:58.248884
9 Writing Finished to DB None duration:  0:02:12.478006
2020 2
10 Reading Finished (14180615, 7) duration:  0:00:05.644860
10 Cleaning Finished (12548873, 6) duration:  0:00:08.475332
10 Writing Finished to csv (12548873, 6) duration:  0:00:27.263281
10 Writing Finished to temp table (12548873, 6) duration:  0:00:37.288548
10 Writing Finished to storage table None duration:  0:02:13.896727
10 Writing Finished to DB None duration:  0:02:34.377151
2020 1
11 Reading Finished (14413142, 7) duration:  0:00:05.702518
11 Cleaning Finished (14320010, 6) duration:  0:00:08.697360
11 Writing Finished to csv (14320010, 6) duration:  0:00:30.072071
11 Writing Finished to temp table (14320010, 6) duration:  0:00:43.441878
11 Writing Finished to storage table None duration:  0:02:32.284602
11 Writing Finished to DB None duration:  0:02:50.445285
2019 12
12 Reading Finished (14670849, 7) duration:  0:00:05.794080
12 Cleaning Finished (14670849, 6) duration:  0:00:08.676777
12 Writing Finished to csv (14670849, 6) duration:  0:00:30.861069
12 Writing Finished to temp table (14670849, 6) duration:  0:00:44.423998
12 Writing Finished to storage table None duration:  0:02:45.578957
12 Writing Finished to DB None duration:  0:03:11.063072
2019 11
13 Reading Finished (14950035, 7) duration:  0:00:06.011113
13 Cleaning Finished (14950035, 6) duration:  0:00:08.981505
13 Writing Finished to csv (14950035, 6) duration:  0:00:31.580888
13 Writing Finished to temp table (14950035, 6) duration:  0:00:46.135719
13 Writing Finished to storage table None duration:  0:02:55.130840
13 Writing Finished to DB None duration:  0:03:22.412182
2019 10
14 Reading Finished (16223930, 7) duration:  0:00:06.418287
14 Cleaning Finished (16223930, 6) duration:  0:00:09.679641
14 Writing Finished to csv (16223930, 6) duration:  0:00:34.070382
14 Writing Finished to temp table (16223930, 6) duration:  0:00:49.019246
14 Writing Finished to storage table None duration:  0:03:10.693189
14 Writing Finished to DB None duration:  0:03:39.434229
2019 9
15 Reading Finished (16444345, 7) duration:  0:00:06.891605
15 Cleaning Finished (16444345, 6) duration:  0:00:10.116299
15 Writing Finished to csv (16444345, 6) duration:  0:00:34.641183
15 Writing Finished to temp table (16444345, 6) duration:  0:00:49.960831
15 Writing Finished to storage table None duration:  0:03:23.981038
15 Writing Finished to DB None duration:  0:04:03.450248
2019 8
16 Reading Finished (16425037, 7) duration:  0:00:06.719631
16 Cleaning Finished (16425037, 6) duration:  0:00:10.156771
16 Writing Finished to csv (16425037, 6) duration:  0:00:34.635442
16 Writing Finished to temp table (16425037, 6) duration:  0:00:50.914806
16 Writing Finished to storage table None duration:  0:03:32.743615
16 Writing Finished to DB None duration:  0:04:07.341975
2019 7
17 Reading Finished (16286472, 7) duration:  0:00:06.410529
17 Cleaning Finished (16286472, 6) duration:  0:00:09.682843
17 Writing Finished to csv (16286472, 6) duration:  0:00:33.998825
17 Writing Finished to temp table (16286472, 6) duration:  0:00:49.768716
17 Writing Finished to storage table None duration:  0:03:38.936734
17 Writing Finished to DB None duration:  0:04:25.902544
2019 6
18 Reading Finished (16254324, 7) duration:  0:00:06.517135
18 Cleaning Finished (16254324, 6) duration:  0:00:09.816839
18 Writing Finished to csv (16254324, 6) duration:  0:00:34.191908
18 Writing Finished to temp table (16254324, 6) duration:  0:00:47.547743
18 Writing Finished to storage table None duration:  0:03:41.024451
18 Writing Finished to DB None duration:  0:04:27.594309
2019 5
19 Reading Finished (16043437, 7) duration:  0:00:06.674069
19 Cleaning Finished (16043437, 6) duration:  0:00:09.979851
19 Writing Finished to csv (16043437, 6) duration:  0:00:33.940814
19 Writing Finished to temp table (16043437, 6) duration:  0:00:50.513108
19 Writing Finished to storage table None duration:  0:03:51.817102
19 Writing Finished to DB None duration:  0:04:43.709648
2019 4
20 Reading Finished (15855712, 7) duration:  0:00:06.588879
20 Cleaning Finished (15855712, 6) duration:  0:00:09.874254
20 Writing Finished to csv (15855712, 6) duration:  0:00:33.609272
20 Writing Finished to temp table (15855712, 6) duration:  0:00:49.098461
20 Writing Finished to storage table None duration:  0:03:56.483702
20 Writing Finished to DB None duration:  0:04:50.636836
2019 3
21 Reading Finished (15766680, 7) duration:  0:00:06.664029
21 Cleaning Finished (15766680, 6) duration:  0:00:09.943135
21 Writing Finished to csv (15766680, 6) duration:  0:00:33.463229
21 Writing Finished to temp table (15766680, 6) duration:  0:00:49.298581
21 Writing Finished to storage table None duration:  0:04:03.001559
21 Writing Finished to DB None duration:  0:05:07.763572
2019 2
22 Reading Finished (15958503, 7) duration:  0:00:06.605466
22 Cleaning Finished (15958503, 6) duration:  0:00:09.929048
22 Writing Finished to csv (15958503, 6) duration:  0:00:33.810808
22 Writing Finished to temp table (15958503, 6) duration:  0:00:47.635313
22 Writing Finished to storage table None duration:  0:04:13.182728
22 Writing Finished to DB None duration:  0:05:16.402134
2019 1
23 Reading Finished (15838428, 7) duration:  0:00:06.792968
23 Cleaning Finished (15838428, 6) duration:  0:00:10.081337
23 Writing Finished to csv (15838428, 6) duration:  0:00:33.701757
23 Writing Finished to temp table (15838428, 6) duration:  0:00:49.560727
23 Writing Finished to storage table None duration:  0:04:14.134560
23 Writing Finished to DB None duration:  0:05:10.456671

In [34]:
df = pd.read_sql(sql=sqlA.text('''select * from "DSO574".airbnb_calendar'''),con=engine.connect())
df.head()

   listing_id        date available    price  year  month
0         109  2019-01-12         f  $118.00  2019      1
1         109  2019-01-13         f  $118.00  2019      1
2         109  2019-01-14         f  $118.00  2019      1
3         109  2019-01-15         f  $118.00  2019      1
4         109  2019-01-16         f  $118.00  2019      1

In [35]:
df.shape

(44909177, 6)

In [36]:
sys.getsizeof(df) /1024 / 1024 / 1024

8.891900431364775

In [37]:
df["available"] = df.apply(lambda x: booleanification(x["available"]),axis=1)

In [39]:
df.head()

   listing_id        date  available    price  year  month
0         109  2019-01-12      False  $118.00  2019      1
1         109  2019-01-13      False  $118.00  2019      1
2         109  2019-01-14      False  $118.00  2019      1
3         109  2019-01-15      False  $118.00  2019      1
4         109  2019-01-16      False  $118.00  2019      1

In [40]:
df.to_csv("airbnb_calendar_from_2019_to_2020.csv")

In [12]:
# df = pd.read_csv(file_paths_df.iloc[0,0])
# print(0,"Reading Finished",df.shape,"duration: ", dt.datetime.now())
# for i in range(1,num_files):
#     loop_start_time  = dt.datetime.now()
#     print(file_paths_df.iloc[i,2],file_paths_df.iloc[i,3])
#     temp_df = pd.read_csv(file_paths_df.iloc[i,0])
#     print(i,"Reading Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     df = pd.merge(df,temp_df,how="outer",on=["listing_id","date"])
#     print(i,"Joining Finished",df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     df["available"] = df.apply(lambda x: fillValues(x["available_x"],x["available_y"]),axis=1)
#     df["price"] = df.apply(lambda x: fillValues(x["price_x"],x["price_y"]),axis=1)
#     df = df[["listing_id","date","available","price"]]
#     df.reset_index(inplace=True,drop=True)
#     print(i,"Cleaning Finished",df.shape,"duration: ", dt.datetime.now() - loop_start_time)
# df.head()

In [13]:
# df["available"] = df.apply(lambda x: booleanification(x["available"]),axis=1)
# df["price"] = df.apply(lambda x: removeDollarsign(x["price"]),axis = 1)

In [14]:
# df.head()

In [15]:
# df.to_csv("calender_agg.csv")

In [16]:
# for i in range(0,num_files):
#     loop_start_time  = dt.datetime.now()
#     temp_df = pd.read_csv(all_files_path[i])
#     print(i,"Reading Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     if len(list(temp_df.columns)) == 4:
#         temp_df = temp_df.reindex(temp_df.columns.tolist() + ['adjusted_price','minimum_nights','maximum_nights'], axis=1)
#     temp_df["file_path"] = all_files_path[i]
#     temp_df["source_file_name"] = all_file_names[i]
#     temp_df["year"] = int(all_file_names[i].split("_")[2])
#     temp_df["month"] = int(all_file_names[i].split("_")[3])
#     temp_df["available"] = temp_df["available"].apply(lambda x : booleanification(x))
#     temp_df["price"] = temp_df["price"].apply(lambda x : removeDollarsign(x))
#     temp_df["adjusted_price"] = temp_df["adjusted_price"].apply(lambda x : removeDollarsign(x))
#     print(i,"Cleaning Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     temp_df.to_csv("calender_temp_file.csv",index = False)
#     print(i,"Writing Finished to csv",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     if i == 0:
#         temp_df.iloc[0:10].to_sql(name="airbnb_calendar",con=engine,index=False,schema="DSO574",if_exists="replace")
#         with engine.connect() as connection:
#             connection.execute(sqlA.text('''truncate table "DSO574".airbnb_calendar;'''))
#             connection.commit() 
#     with engine.connect() as connection:
#         connection.execute(sqlA.text('''
#         COPY "DSO574".airbnb_calendar
#         FROM '/Users/sarat/Desktop/Spring 23/DSO 574 Big Data/Assignments/Airbnb/calender_temp_file.csv' 
#         DELIMITER ',' 
#         CSV HEADER;'''))
#         connection.commit()
#     print(i,"Writing Finished to DB",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
# del temp_df

In [2]:
df_test = pd.read_csv("airbnb_calendar_from_2019_to_2020.csv")

In [3]:
df_test.head()

   Unnamed: 0  listing_id        date  available    price  year  month
0           0         109  2019-01-12      False  $118.00  2019      1
1           1         109  2019-01-13      False  $118.00  2019      1
2           2         109  2019-01-14      False  $118.00  2019      1
3           3         109  2019-01-15      False  $118.00  2019      1
4           4         109  2019-01-16      False  $118.00  2019      1

In [5]:
df_test = df_test.iloc[:,1:]

In [6]:
df_test.head()

   listing_id        date  available    price  year  month
0         109  2019-01-12      False  $118.00  2019      1
1         109  2019-01-13      False  $118.00  2019      1
2         109  2019-01-14      False  $118.00  2019      1
3         109  2019-01-15      False  $118.00  2019      1
4         109  2019-01-16      False  $118.00  2019      1

In [8]:
df_test.to_csv("airbnb_calendar_from_2019_to_2020.csv",index=False)