In [1]:
import pandas as pd
import sqlalchemy as sqlA
import io
import csv

In [2]:
# please write the entire path of the csv file.
path = "/Users/sarat/Desktop/Spring 23/DSO 574 Big Data/Assignments/Airbnb/airbnb_calendar_from_2019_to_2020.csv"

In [3]:
# this code is highly useful to peek into large csv files 
# and getting header column without reading entire file.
all_cols = []
fp = open(path, "rb")
buffered = io.BufferedReader(fp, buffer_size=4096)
decoded = io.TextIOWrapper(buffered, encoding="utf-8")
reader = csv.reader(decoded)
all_cols = reader.__next__()
buffered.close()
fp.close()
len(all_cols)

7

In [4]:
all_cols

['', 'listing_id', 'date', 'available', 'price', 'year', 'month']

In [4]:
df_list = []
fp = open(path, "rb")
buffered = io.BufferedReader(fp, buffer_size=4096)
decoded = io.TextIOWrapper(buffered, encoding="utf-8")
reader = csv.reader(decoded)
reader.__next__()
for i in range(0,10):
    temp_df = pd.DataFrame(reader.__next__()).T
    df_list.append(temp_df)
buffered.close()
fp.close()

In [5]:
df = pd.concat(df_list)

In [6]:
df.columns = all_cols
df.reset_index(inplace=True,drop=True)
df.head(10)

  listing_id        date
0        109  2011-08-15
1        109  2016-05-15
2       2708  2014-06-09
3       2708  2014-06-23
4       2708  2015-07-25
5       2708  2016-02-01
6       2708  2016-03-20
7       2708  2017-12-29
8       2708  2018-01-05
9       2708  2018-01-13

In [7]:
df.dtypes

listing_id    object
date          object
dtype: object

In [8]:
# here u have to change in this format only postgresql+psycopg2://<username>:<password>@127.0.0.1:5432/<database_name>
engine = sqlA.create_engine('postgresql+psycopg2://sarat:admin@127.0.0.1:5432/sarat',future=True)

In [9]:
table_name = "airbnb_listing_all_reviews" # enter ur table name here.

In [10]:
schema = "DSO574" #enter ur schema in which u will place the table.

In [ ]:
# the drawback for this approach is it assumes that all the data is text.
# so if u know u can type of the column for sure then change as follows:
# df = df.astype({'col1': 'int32','col1': 'float'})
# here the columns that u want to change is sufficent to enter into the dictinary.

In [11]:
# dont forget to change the schema here.
df.to_sql(name=table_name,con=engine,index=False,schema=schema,if_exists="replace")

10

In [12]:
with engine.connect() as connection:
        connection.execute(sqlA.text('''truncate table "''' + schema +'''".''' + table_name + ";"))
        connection.commit()
        connection.execute(sqlA.text('''
        COPY "''' + schema +'''".''' + table_name + '''
        FROM \'''' + path + '''\'
        DELIMITER ',' 
        CSV HEADER;'''))
        connection.commit()