In [1]:
import pandas as pd
import io
import csv
import os
import datetime as dt
import numpy as np

In [37]:
cols_list = ['id',
'host_id',
'host_response_time',
'host_response_rate',
'host_acceptance_rate',
'host_listings_count',
'host_total_listings_count',
'host_verifications',
'host_has_profile_pic',
'host_identity_verified',
'neighbourhood',
'neighbourhood_cleansed',
'zipcode',
'property_type',
'room_type',
'accommodates',
'bathrooms',
'bedrooms',
'beds',
'amenities',
'price',
'cleaning_fee',
'minimum_nights',
'has_availability',
'number_of_reviews',
'review_scores_rating',
'review_scores_accuracy',
'review_scores_cleanliness',
'review_scores_checkin',
'review_scores_communication',
'review_scores_location',
'review_scores_value',
'cancellation_policy',
'reviews_per_month',
'calculated_host_listings_count_entire_homes',
'calculated_host_listings_count_private_rooms',
'calculated_host_listings_count_shared_rooms',]

In [38]:
dir_path = "./Drive/Data Files [Detailed] "
all_file_path = []
all_file_names = []
all_file_year = []
all_file_month = []
for i in range(1,6):
    paths = [x for x in os.walk(dir_path + str(i))]
    root, dir, files = paths[0]
    for j in files:
        if j.__contains__("_listings"):
            all_file_path.append(root + "/" + j)
            all_file_names.append(j)
            all_file_year.append(int(j.split("_")[2]))
            all_file_month.append(int(j.split("_")[3]))

In [39]:
path_df = pd.DataFrame(all_file_path,columns=["path"])
names_df = pd.DataFrame(all_file_names,columns=["name"])
year_df = pd.DataFrame(all_file_year,columns=["year"])
month_df = pd.DataFrame(all_file_month,columns=["month"])
file_paths_df = pd.concat([path_df,names_df,year_df,month_df],axis=1)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2015_09_listings.csv.gz,2015,9
1,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2017_04_listings.csv.gz,2017,4
2,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2016_01_listings.csv.gz,2016,1
3,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_06_listings.csv.gz,2018,6
4,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2017_03_listings.csv.gz,2017,3

In [40]:
file_paths_df = file_paths_df.sort_values(by=["year","month"])
file_paths_df = file_paths_df.loc[file_paths_df["year"]>2017]
file_paths_df.reset_index(drop=True,inplace=True)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_03_listings.csv.gz,2018,3
1,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_04_listings.csv.gz,2018,4
2,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_05_listings.csv.gz,2018,5
3,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_06_listings.csv.gz,2018,6
4,./Drive/Data Files [Detailed] 2/los_angeles_20...,los_angeles_2018_07_listings.csv.gz,2018,7

In [41]:
file_paths_df.shape

(35, 4)

In [42]:
num_files = file_paths_df.shape[0]

In [43]:
import warnings
warnings.filterwarnings("ignore")

In [44]:
df = pd.DataFrame()
for i in range(0,num_files):
    loop_start_time  = dt.datetime.now()
    temp_df = pd.read_csv(file_paths_df.iloc[i,0])
    print(i,"Reading Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
    all_cols = list(temp_df.columns)
    use_cols = list(set(all_cols).intersection(set(cols_list)))
    temp_df = temp_df[use_cols]
    pending_cols = set(cols_list).difference(set(use_cols))
    for j in pending_cols:
        temp_df[j] = np.nan
    temp_df = temp_df[cols_list]
    temp_df['year'] = file_paths_df.iloc[i,2]
    temp_df['month'] = file_paths_df.iloc[i,3]
    temp_df['file_name'] = file_paths_df.iloc[i,1]
    df = pd.concat([df,temp_df],axis=0)
    df.drop_duplicates(inplace=True)
    print(i,"Cleaning Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)

0 Reading Finished (38812, 96) duration:  0:00:03.071972
0 Cleaning Finished (38812, 40) duration:  0:00:03.294997
1 Reading Finished (39551, 106) duration:  0:00:03.005682
1 Cleaning Finished (39551, 40) duration:  0:00:03.352952
2 Reading Finished (39818, 106) duration:  0:00:02.984436
2 Cleaning Finished (39818, 40) duration:  0:00:03.500247
3 Reading Finished (39630, 106) duration:  0:00:03.184848
3 Cleaning Finished (39630, 40) duration:  0:00:03.873601
4 Reading Finished (40371, 106) duration:  0:00:03.234703
4 Cleaning Finished (40371, 40) duration:  0:00:04.087974
5 Reading Finished (42299, 106) duration:  0:00:03.395706
5 Cleaning Finished (42299, 40) duration:  0:00:04.408707
6 Reading Finished (43152, 106) duration:  0:00:03.386085
6 Cleaning Finished (43152, 40) duration:  0:00:04.582783
7 Reading Finished (43715, 106) duration:  0:00:03.583062
7 Cleaning Finished (43715, 40) duration:  0:00:04.942396
8 Reading Finished (44454, 106) duration:  0:00:03.561316
8 Cleaning Finished (44454, 40) duration:  0:00:05.138309
9 Reading Finished (42992, 106) duration:  0:00:03.579038
9 Cleaning Finished (42992, 40) duration:  0:00:05.343946
10 Reading Finished (43342, 106) duration:  0:00:03.557710
10 Cleaning Finished (43342, 40) duration:  0:00:05.577854
11 Reading Finished (43669, 106) duration:  0:00:03.527664
11 Cleaning Finished (43669, 40) duration:  0:00:05.683708
12 Reading Finished (43143, 106) duration:  0:00:03.730025
12 Cleaning Finished (43143, 40) duration:  0:00:06.101197
13 Reading Finished (43390, 106) duration:  0:00:03.683586
13 Cleaning Finished (43390, 40) duration:  0:00:06.392001
14 Reading Finished (43903, 106) duration:  0:00:03.681092
14 Cleaning Finished (43903, 40) duration:  0:00:06.566346
15 Reading Finished (44478, 106) duration:  0:00:03.825187
15 Cleaning Finished (44478, 40) duration:  0:00:06.961247
16 Reading Finished (44570, 106) duration:  0:00:03.800424
16 Cleaning Finished (44570, 40) duration:  0:00:07.137522
17 Reading Finished (44938, 106) duration:  0:00:03.959149
17 Cleaning Finished (44938, 40) duration:  0:00:07.617258
18 Reading Finished (44986, 106) duration:  0:00:03.885144
18 Cleaning Finished (44986, 40) duration:  0:00:07.660632
19 Reading Finished (44380, 106) duration:  0:00:03.982345
19 Cleaning Finished (44380, 40) duration:  0:00:07.920983
20 Reading Finished (40899, 106) duration:  0:00:04.543681
20 Cleaning Finished (40899, 40) duration:  0:00:09.367697
21 Reading Finished (40125, 106) duration:  0:00:04.722261
21 Cleaning Finished (40125, 40) duration:  0:00:11.622319
22 Reading Finished (39486, 106) duration:  0:00:03.921525
22 Cleaning Finished (39486, 40) duration:  0:00:08.805693
23 Reading Finished (38851, 106) duration:  0:00:03.884919
23 Cleaning Finished (38851, 40) duration:  0:00:09.136931
24 Reading Finished (38481, 106) duration:  0:00:03.395146
24 Cleaning Finished (38481, 40) duration:  0:00:08.889658
25 Reading Finished (37728, 106) duration:  0:00:03.427496
25 Cleaning Finished (37728, 40) duration:  0:00:09.093793
26 Reading Finished (37048, 106) duration:  0:00:03.286177
26 Cleaning Finished (37048, 40) duration:  0:00:09.086522
27 Reading Finished (35757, 106) duration:  0:00:03.207532
27 Cleaning Finished (35757, 40) duration:  0:00:09.572399
28 Reading Finished (34900, 101) duration:  0:00:02.852585
28 Cleaning Finished (34900, 40) duration:  0:00:09.048554
29 Reading Finished (33078, 74) duration:  0:00:01.850288
29 Cleaning Finished (33078, 40) duration:  0:00:07.748044
30 Reading Finished (31536, 74) duration:  0:00:01.819228
30 Cleaning Finished (31536, 40) duration:  0:00:08.221779
31 Reading Finished (30533, 74) duration:  0:00:01.670330
31 Cleaning Finished (30533, 40) duration:  0:00:07.561220
32 Reading Finished (31471, 74) duration:  0:00:01.711271
32 Cleaning Finished (31471, 40) duration:  0:00:07.880598
33 Reading Finished (31845, 74) duration:  0:00:01.723076
33 Cleaning Finished (31845, 40) duration:  0:00:07.941880
34 Reading Finished (32175, 74) duration:  0:00:01.740188
34 Cleaning Finished (32175, 40) duration:  0:00:08.183126

In [45]:
df.dtypes

id                                                int64
host_id                                           int64
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_listings_count                             float64
host_total_listings_count                       float64
host_verifications                               object
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood                                    object
neighbourhood_cleansed                           object
zipcode                                          object
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                            object
cleaning_fee                                     object
minimum_nights                                  float64
has_availability                                 object
number_of_reviews                                 int64
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
cancellation_policy                              object
reviews_per_month                               float64
calculated_host_listings_count_entire_homes     float64
calculated_host_listings_count_private_rooms    float64
calculated_host_listings_count_shared_rooms     float64
year                                              int64
month                                             int64
file_name                                        object
dtype: object

In [47]:
df.head(10)

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,cancellation_policy,reviews_per_month,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,year,month,file_name
0,109,521,within an hour,100%,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'amex', 'review...",t,t,...,10.0,8.0,strict,0.03,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
1,344,767,NaN,NaN,NaN,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'kba']",t,t,...,10.0,8.0,flexible,0.05,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
2,2404,2633,NaN,NaN,NaN,1.0,1.0,['email'],f,f,...,NaN,NaN,moderate,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
3,2732,3041,within an hour,100%,NaN,2.0,2.0,"['email', 'phone', 'reviews']",t,f,...,10.0,9.0,strict,0.21,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
4,2864,3207,within an hour,100%,NaN,2.0,2.0,"['email', 'phone', 'facebook', 'kba']",t,t,...,NaN,NaN,strict,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
5,3021,3415,within a day,80%,NaN,7.0,7.0,"['email', 'phone', 'reviews', 'jumio']",t,t,...,9.0,8.0,strict,0.33,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
6,3152,3685,within a day,100%,NaN,4.0,4.0,"['email', 'phone', 'facebook', 'reviews', 'kba...",t,t,...,10.0,9.0,strict,0.17,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
7,5728,9171,within an hour,98%,NaN,8.0,8.0,"['email', 'phone', 'facebook', 'reviews']",t,f,...,9.0,9.0,moderate,1.29,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
8,5729,9171,within an hour,98%,NaN,8.0,8.0,"['email', 'phone', 'facebook', 'reviews']",t,f,...,9.0,9.0,moderate,0.73,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
9,5843,9171,within an hour,98%,NaN,8.0,8.0,"['email', 'phone', 'facebook', 'reviews']",t,f,...,10.0,9.0,moderate,0.41,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz

In [46]:
def replace_comma(x):
    if type(x) == str:
        return x.replace(",", ";" )
    else:
        return x

In [50]:
# this is neccessary bcs the csv file written by pandas has default delimiter(,) 
# but if any column contains that then the data gets corrupted. 
# So this ensures that all (,) is replaced by (;)
for col in df:
    print(col)
    df[col] = df.apply(lambda x : replace_comma(x[col]),axis=1)

id
host_id
host_response_time
host_response_rate
host_acceptance_rate
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
zipcode
property_type
room_type
accommodates
bathrooms
bedrooms
beds
amenities
price
cleaning_fee
minimum_nights
has_availability
number_of_reviews
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
cancellation_policy
reviews_per_month
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
year
month
file_name

In [51]:
df.head()

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,cancellation_policy,reviews_per_month,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,year,month,file_name
0,109,521,within an hour,100%,NaN,1.0,1.0,['email'; 'phone'; 'facebook'; 'amex'; 'review...,t,t,...,10.0,8.0,strict,0.03,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
1,344,767,NaN,NaN,NaN,1.0,1.0,['email'; 'phone'; 'reviews'; 'jumio'; 'kba'],t,t,...,10.0,8.0,flexible,0.05,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
2,2404,2633,NaN,NaN,NaN,1.0,1.0,['email'],f,f,...,NaN,NaN,moderate,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
3,2732,3041,within an hour,100%,NaN,2.0,2.0,['email'; 'phone'; 'reviews'],t,f,...,10.0,9.0,strict,0.21,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
4,2864,3207,within an hour,100%,NaN,2.0,2.0,['email'; 'phone'; 'facebook'; 'kba'],t,t,...,NaN,NaN,strict,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz

In [53]:
df.to_csv("airbnb_listing_from_2018.csv",index=False)

In [2]:
df_test = pd.read_csv("airbnb_listing_from_2018.csv")
df_test.head()

/var/folders/lx/wx3109f56_50_r0_22hgbcjr0000gn/T/ipykernel_94703/2377725377.py:1: DtypeWarning: Columns (4,12,19,20,21,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv("airbnb_listing_from_2018.csv")

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,...,review_scores_location,review_scores_value,cancellation_policy,reviews_per_month,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,year,month,file_name
0,109,521,within an hour,100%,NaN,1.0,1.0,['email'; 'phone'; 'facebook'; 'amex'; 'review...,t,t,...,10.0,8.0,strict,0.03,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
1,344,767,NaN,NaN,NaN,1.0,1.0,['email'; 'phone'; 'reviews'; 'jumio'; 'kba'],t,t,...,10.0,8.0,flexible,0.05,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
2,2404,2633,NaN,NaN,NaN,1.0,1.0,['email'],f,f,...,NaN,NaN,moderate,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
3,2732,3041,within an hour,100%,NaN,2.0,2.0,['email'; 'phone'; 'reviews'],t,f,...,10.0,9.0,strict,0.21,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz
4,2864,3207,within an hour,100%,NaN,2.0,2.0,['email'; 'phone'; 'facebook'; 'kba'],t,t,...,NaN,NaN,strict,NaN,NaN,NaN,NaN,2018,3,los_angeles_2018_03_listings.csv.gz