In [1]:
import pandas as pd
import sqlalchemy as sqlA
import os
import datetime as dt
import numpy as np

In [2]:
dir_path = "./Drive/Data Files [Detailed] "
all_file_path = []
all_file_names = []
all_file_year = []
all_file_month = []
for i in range(1,6):
    paths = [x for x in os.walk(dir_path + str(i))]
    root, dir, files = paths[0]
    for j in files:
        if j.__contains__("_reviews"):
            all_file_path.append(root + "/" + j)
            all_file_names.append(j)
            all_file_year.append(int(j.split("_")[2]))
            all_file_month.append(int(j.split("_")[3]))

In [3]:
path_df = pd.DataFrame(all_file_path,columns=["path"])
names_df = pd.DataFrame(all_file_names,columns=["name"])
year_df = pd.DataFrame(all_file_year,columns=["year"])
month_df = pd.DataFrame(all_file_month,columns=["month"])
file_paths_df = pd.concat([path_df,names_df,year_df,month_df],axis=1)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_04_reviews.csv.gz,2018,4
1,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_03_reviews.csv.gz,2018,3
2,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_10_reviews.csv.gz,2018,10
3,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_05_reviews.csv.gz,2018,5
4,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_07_reviews.csv.gz,2018,7

In [4]:
file_paths_df = file_paths_df.sort_values(by=["year","month"])
file_paths_df = file_paths_df.loc[file_paths_df["year"]>2017]
file_paths_df.reset_index(drop=True,inplace=True)
file_paths_df.head()

,path,name,year,month
0,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_03_reviews.csv.gz,2018,3
1,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_04_reviews.csv.gz,2018,4
2,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_05_reviews.csv.gz,2018,5
3,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_06_reviews.csv.gz,2018,6
4,./Drive/Data Files [Detailed] 1/los_angeles_20...,los_angeles_2018_07_reviews.csv.gz,2018,7

In [5]:
file_paths_df.shape

(35, 4)

In [6]:
num_files = file_paths_df.shape[0]

In [8]:
df = pd.read_csv(file_paths_df.iloc[0,0],usecols=["listing_id","id","date","reviewer_id"])
for i in range(1,num_files):
    loop_start_time  = dt.datetime.now()
    temp_df = pd.read_csv(file_paths_df.iloc[i,0],usecols=["listing_id","id","date","reviewer_id"])
    df = pd.concat([df,temp_df],axis=0)
    df.drop_duplicates(inplace=True)
    print(i,"Cleaning Finished",df.shape,"duration: ", dt.datetime.now() - loop_start_time)

1 Cleaning Finished (1010298, 4) duration:  0:00:03.284886
2 Cleaning Finished (1075543, 4) duration:  0:00:03.318184
3 Cleaning Finished (1130870, 4) duration:  0:00:03.395488
4 Cleaning Finished (1192769, 4) duration:  0:00:03.531079
5 Cleaning Finished (1270934, 4) duration:  0:00:03.669495
6 Cleaning Finished (1345790, 4) duration:  0:00:03.832981
7 Cleaning Finished (1402056, 4) duration:  0:00:03.883338
8 Cleaning Finished (1463517, 4) duration:  0:00:04.419904
9 Cleaning Finished (1524770, 4) duration:  0:00:04.241845
10 Cleaning Finished (1586568, 4) duration:  0:00:04.627745
11 Cleaning Finished (1630535, 4) duration:  0:00:04.645532
12 Cleaning Finished (1691190, 4) duration:  0:00:04.509406
13 Cleaning Finished (1754778, 4) duration:  0:00:05.101447
14 Cleaning Finished (1820920, 4) duration:  0:00:04.725683
15 Cleaning Finished (1889912, 4) duration:  0:00:05.127248
16 Cleaning Finished (1966531, 4) duration:  0:00:05.255053
17 Cleaning Finished (2037861, 4) duration:  0:00:05.109858
18 Cleaning Finished (2123100, 4) duration:  0:00:05.341575
19 Cleaning Finished (2188335, 4) duration:  0:00:05.453498
20 Cleaning Finished (2256903, 4) duration:  0:00:05.029106
21 Cleaning Finished (2283155, 4) duration:  0:00:05.156542
22 Cleaning Finished (2326953, 4) duration:  0:00:05.057311
23 Cleaning Finished (2388491, 4) duration:  0:00:05.098884
24 Cleaning Finished (2437051, 4) duration:  0:00:05.101130
25 Cleaning Finished (2460518, 4) duration:  0:00:05.146915
26 Cleaning Finished (2468545, 4) duration:  0:00:05.023286
27 Cleaning Finished (2485459, 4) duration:  0:00:04.974959
28 Cleaning Finished (2507067, 4) duration:  0:00:04.807066
29 Cleaning Finished (2540133, 4) duration:  0:00:04.762509
30 Cleaning Finished (2557214, 4) duration:  0:00:04.584579
31 Cleaning Finished (2584656, 4) duration:  0:00:04.485795
32 Cleaning Finished (2599413, 4) duration:  0:00:04.583697
33 Cleaning Finished (2627894, 4) duration:  0:00:04.640941
34 Cleaning Finished (2639207, 4) duration:  0:00:04.597841

In [20]:
df.shape

(2639207, 4)

In [9]:
df.head()

   listing_id         id        date  reviewer_id
0         109     449036  2011-08-15       927861
1         109   74506539  2016-05-15     22509885
2         344   79805581  2016-06-14      2089550
3         344  123800867  2016-12-30     35822259
4        2732     300833  2011-06-06       121550

In [16]:
df.loc[df["id"] == 592600245]

         listing_id         id        date  reviewer_id
1029616    34539995  592600245  2020-01-13      7140179
987385     34539995  592600245  2020-02-18      7140179

In [11]:
df.to_csv("airbnb_reviews_from_2018.csv",index=False)

In [21]:
df[["listing_id","date","reviewer_id"]].drop_duplicates().shape

(2639050, 3)

In [ ]:
# engine = sqlA.create_engine('postgresql+psycopg2://sarat:admin@127.0.0.1:5432/sarat',future=True)

In [ ]:
# for i in range(0,num_files):
#     loop_start_time  = dt.datetime.now()
#     temp_df = pd.read_csv(all_files_path[i])
#     print(i,"Reading Finished",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     temp_df[["listing_id","id","date","reviewer_id"]].to_csv("reviews_temp_file.csv",index = False)
#     print(i,"Writing Finished to csv",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
#     if i == 0:
#         temp_df.iloc[0:10].to_sql(name="airbnb_reviews",con=engine,index=False,schema="DSO574",if_exists="replace")
#         with engine.connect() as connection:
#             connection.execute(sqlA.text('''truncate table "DSO574".airbnb_reviews;'''))
#             connection.commit() 
#     with engine.connect() as connection:
#         connection.execute(sqlA.text('''
#         COPY "DSO574".airbnb_reviews
#         FROM '/Users/sarat/Desktop/Spring 23/DSO 574 Big Data/Assignments/Airbnb/reviews_temp_file.csv' 
#         DELIMITER ',' 
#         CSV HEADER;'''))
#         connection.commit()
#     print(i,"Writing Finished to DB",temp_df.shape,"duration: ", dt.datetime.now() - loop_start_time)
# del temp_df

In [2]:
df_test = pd.read_csv("airbnb_reviews_from_2018.csv")
df_test.head()

   listing_id         id        date  reviewer_id
0         109     449036  2011-08-15       927861
1         109   74506539  2016-05-15     22509885
2         344   79805581  2016-06-14      2089550
3         344  123800867  2016-12-30     35822259
4        2732     300833  2011-06-06       121550